<a href="https://colab.research.google.com/github/keew13/titanic_survivor_ml/blob/master/missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing the libraries

In [0]:
import pandas as pd
from sklearn.impute import SimpleImputer

In [2]:
train = pd.read_csv("train.csv")
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [9]:
list_header = list(train)
print(list_header)

['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']

In [18]:
for i in range(0, len(list_header)):
  print(f"Missing value in {list_header[i]}: {str(train.isnull().values[:, [i]].sum())}")

Missing value in PassengerId: 0
Missing value in Survived: 0
Missing value in Pclass: 0
Missing value in Name: 0
Missing value in Sex: 0
Missing value in Age: 177
Missing value in SibSp: 0
Missing value in Parch: 0
Missing value in Ticket: 0
Missing value in Fare: 0
Missing value in Cabin: 687
Missing value in Embarked: 2