<a href="https://colab.research.google.com/github/keew13/titanic_survivor_ml/blob/master/missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing the libraries

In [0]:
import pandas as pd
from sklearn.impute import SimpleImputer

# Statistical Data Description

In [0]:
train = pd.read_csv("train.csv")
train.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

# Count of Missing Values in a DataFrame

In [32]:
count_missing = pd.DataFrame(columns = list(train))
temp = []
for i in range(0, len(list(train))):
  temp.append(train.isnull().values[:, [i]].sum())
count_missing = count_missing.append(pd.Series(temp, index = list(train)), ignore_index = True)
print(count_missing)

  PassengerId Survived Pclass Name Sex  ... Parch Ticket Fare Cabin Embarked
0           0        0      0    0   0  ...     0      0    0   687        2

[1 rows x 12 columns]

# Count of Missing Values

In [33]:
features = list(train)
missing = train.isnull().values[:, :]
for i in range(0, len(features)):
  print(f"Missing Value(s) in {features[i]}: {str(missing[:, [i]].sum())}")

Missing Value(s) in PassengerId: 0
Missing Value(s) in Survived: 0
Missing Value(s) in Pclass: 0
Missing Value(s) in Name: 0
Missing Value(s) in Sex: 0
Missing Value(s) in Age: 177
Missing Value(s) in SibSp: 0
Missing Value(s) in Parch: 0
Missing Value(s) in Ticket: 0
Missing Value(s) in Fare: 0
Missing Value(s) in Cabin: 687
Missing Value(s) in Embarked: 2